<%=form_for @attraction do |f|%>
	<div class='row'>
		<div class='col-md-4'>
			<%= label_tag :name%>
			<%= f.text_field :name, class: "form-control"%>
		</div>
	</div><br>
	<div class='row'>
		<div class='col-md-4'>
			<%= label_tag :min_height%>
			<%= f.number_field :min_height, class: "form-control"%>
		</div>
	</div><br>
	<div class='row'>
		<div class='col-md-4'>
			<%= label_tag :nausea_rating%>
			<%= f.number_field :nausea_rating, class: "form-control"%>
		</div>
	</div><br>
	<div class='row'>
		<div class='col-md-4'>
			<%= label_tag :happiness_rating%>
			<%= f.number_field :happiness_rating, class: "form-control"%>
		</div>
	</div><br>
	<div class='row'>
		<div class='col-md-4'>
			<%= label_tag :tickets%>
			<%= f.number_field :tickets, class: "form-control"%>
		</div>
	</div><br>
	<div class='row'>
		<div class='col-md-4'>
			<button type="submit" class="btn btn-primary">Update Attraction</button>
		</div>
	</div>
<%end%>